<html>
<body class="font">
<mat-card class="box" style="background-color:#333333">
  <mat-toolbar style="background-color:#330000" class="example-full-width">
    <span style="color:#FFFFFF;">Customer</span>
  </mat-toolbar>
  <mat-form-field class="address">
    <textarea matInput placeholder="รายละเอียด" [(ngModel)]="detai"></textarea>
  </mat-form-field>
  <br><br><br><br>

  <button mat-raised-button color="primary"style="color:#66FF00;">รับ Order</button> &nbsp; &nbsp; &nbsp; &nbsp;
  <button mat-raised-button color ="blue" style="color:#66FF00;" >ส่ง Order</button>
</mat-card>
</body>
</html>
