nav a {
padding: 5px 10px;
text-decoration: none;
margin-top: 10px;
display: inline-block;
background-color: #eee;
border-radius: 4px;
}
nav a:visited, a:link {
color: #607d8b;
}
nav a:hover {
color: #039be5;
background-color: #cfd8dc;
}
nav a.active {
color: #039be5;
}
.item1 { grid-area: header; }

.item3 { grid-area: main; }



A {text-decoration: none;}


body {
  background-image: linear-gradient(to right, rgba(255,64,129,0), rgba(255,64,129,1));
  background-color: #cccccc;
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

 }

::ng-deep .mat-card-header{

  padding:5px !important;
  text-align:center;
}

::ng-deep .mat-card1{
 background-image: linear-gradient(-90deg,#00babb, #56c3c6, #ffffff);
  padding:0 !important;
}

::ng-deep .mat-card-content{
  padding:5px !important;
}









