
<div align="center">
<mat-card  style="width:80%" >

  <mat-card-title>Sign up</mat-card-title>
  <mat-card-subtitle>Your info</mat-card-subtitle>

  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Step 1
        </mat-panel-title>
        <mat-panel-description>
          กรอกข้อมูลการสมัคร
          <mat-icon>assignment_ind</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Email">
      </mat-form-field>
::
      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field>

      ::
      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>


      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>



    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Step 2
        </mat-panel-title>
        <mat-panel-description>
          ข้อมูลส่วนตัว
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="ชื่อ">
      </mat-form-field>
      ::
      <mat-form-field>
        <input matInput placeholder="นามสกุล">
      </mat-form-field>
      ::
      <mat-form-field>
        <input matInput placeholder="วันเกิด" [matDatepicker]="picker" (focus)="picker.open()" readonly>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Step 3
        </mat-panel-title>
        <mat-panel-description>
          ที่อยู่ส่วนตัว
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>


      <mat-form-field>
        <input matInput placeholder="Zipcode">
      </mat-form-field>


      <mat-form-field>
        <mat-label>จังหวัด</mat-label>
        <mat-select [(value)]="selected">

          <mat-option value="รีด">BKK</mat-option>
          <mat-option value="ไม่รีด">KORAT </mat-option>

        </mat-select>
      </mat-form-field>



      <mat-form-field>
        <input matInput placeholder="อำเภอ">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="ตำบล">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="ที่อยู่">
      </mat-form-field>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
  <br>
  <br>

   <div align="center"><button mat-raised-button color="primary"  >  ยืนยัน</button></div>





</mat-card>
</div>
