
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="http://localhost:4200/">Home</a></li>
    <li class="breadcrumb-item"><a href="cuslogin">Log in</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>

<div align="center">
<mat-card class="example-form" style="width:80%; ">
  <div mat-card-avatar class="example-header-image"></div>
  <div>
    <mat-card-title>Billy Batson</mat-card-title>
    <mat-card-subtitle>SHAZAM</mat-card-subtitle>
    <mat-form-field>
      <mat-label>วิธีรับ</mat-label>
      <mat-select [(value)]="selected">

        <mat-option value="เสื้อ">รับเอง</mat-option>
        <mat-option value="กางเกง">รอส่ง </mat-option>

      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>ชนิดผ้า</mat-label>
      <mat-select [(value)]="selected">

        <mat-option value="เสื้อ">เสื้อ</mat-option>
        <mat-option value="กางเกง">กางเกง </mat-option>

      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>การรีด</mat-label>
      <mat-select [(value)]="selected">

        <mat-option value="รีด">รีด</mat-option>
        <mat-option value="ไม่รีด">ไม่รีด </mat-option>

      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>จำนวน</mat-label>
      <mat-select [(value)]="selected">

        <mat-option value="1">1</mat-option>
        <mat-option value="2">2 </mat-option>
        <mat-option value="2">3 </mat-option>
        <mat-option value="2">4 </mat-option>
        <mat-option value="2">5 </mat-option>
        <mat-option value="2">6 </mat-option>

      </mat-select>

    </mat-form-field>
    <mat-form-field>
      <mat-label>ร้าน</mat-label>
      <mat-select [(value)]="selected">

        <mat-option value="ป้าใจดี">ป้าใจดี</mat-option>
        <mat-option value="ป้าใจร้าย">ป้าใจร้าย </mat-option>

      </mat-select>
    </mat-form-field>




  </div>

  <button mat-raised-button color="accent"  > เรียกไบค์</button>
<br><br>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> ชนิด. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> การรีด </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> จำนวน </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> ร้าน </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> สถานะ </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<br><br>
<div align="right">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Bikename"  [(ngModel)]="data.frist"
             required name="frist" #frist >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" [(ngModel)]="data.last"
             required name="last" #last>
    </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Amount" type="number" class="example-right-align">
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>
  <div><button mat-raised-button color="primary">  ยืนยัน</button></div>
</div>

</mat-card>

</div>
