<div align="center">

  <mat-card style="background-color:#BEBEBE;width:100%">





    <br>


    <router-outlet></router-outlet>
    <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
      <mat-button-toggle value="left" style="color:#000000;" ><a routerLink="/login-store">Login</a></mat-button-toggle>
    </mat-button-toggle-group>&nbsp;
    <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
      <mat-button-toggle value="left" style="color:#000000;" ><a routerLink="/status-customer">StatusCustomer</a></mat-button-toggle>
    </mat-button-toggle-group>&nbsp;
    <router-outlet></router-outlet>
    <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
      <mat-button-toggle value="left" style="color:#000000;" ><a routerLink="/checkout">Check Order</a></mat-button-toggle>
    </mat-button-toggle-group>&nbsp;
    <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
      <mat-button-toggle value="left" style="color:#000000;" ><a routerLink="/status-money">Status/Money</a></mat-button-toggle>
    </mat-button-toggle-group>&nbsp;
    <router-outlet></router-outlet>
  </mat-card>
</div>
<br><br>
<mat-form-field >
  <mat-label>Order</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<br><br>
<table class="table" width="80%">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ประเภท</th>
    <th scope="col">รีด/ไม่รีด</th>
    <th scope="col">จำนวน</th>
    <th scope="col">ราคา</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>นุ่ม</th>
    <td>รัด</td>
    <td>5</td>
    <td>35</td>
  </tr>
  <tr>
    <th>แข็ง</th>
    <td>รีด</td>
    <td>6</td>
    <td>42</td>
  </tr>
  <tr>
    <th>สาก</th>
    <td>ไม่รีด</td>
    <td>9</td>
    <td>63</td>
  </tr>
  </tbody>
</table>
<button mat-raised-button color="primary">เสร็จแล้ว</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button mat-raised-button color="warn">ลบ</button>
<div align="right">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4>รวม</h4>&nbsp;
  <mat-form-field class="example-full-width">
    <input matInput  value="140">
  </mat-form-field>

</div>
