<div align="center">

  <mat-card  style="background-color:#BEBEBE;width:100%">





    <br>


    <router-outlet></router-outlet>
    <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
      <mat-button-toggle value="left" style="color:#000000;" ><a routerLink="/login-store">Login</a></mat-button-toggle>
    </mat-button-toggle-group>&nbsp;
    <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
      <mat-button-toggle value="left" style="color:#000000;" ><a routerLink="/status-customer">StatusCustomer</a></mat-button-toggle>
    </mat-button-toggle-group>&nbsp;
    <router-outlet></router-outlet>
    <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
      <mat-button-toggle value="left" style="color:#000000;" ><a routerLink="/checkout">Check Order</a></mat-button-toggle>
    </mat-button-toggle-group>&nbsp;
    <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
      <mat-button-toggle value="left" style="color:#000000;" ><a routerLink="/status-money">Status/Money</a></mat-button-toggle>
    </mat-button-toggle-group>&nbsp;
    <router-outlet></router-outlet>
  </mat-card>
</div>
<div align="center">
<mat-card style="width:80%">
<br><br><br><form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Username" >
  </mat-form-field><br>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" >
  </mat-form-field>
</form><br><br>
<div class="example-button-row">
  <a mat-raised-button routerLink=".">Confirm</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a mat-raised-button href="/singin-store">Singin</a>
</div>

</mat-card>
</div>
