

<body>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="http://localhost:4200/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Log in</li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>







<mat-card class = "example-card2" style="background-color:#333333" align="center">
  <mat-card class = "example-card2" style="background-color:#003333">
    <mat-toolbar-row>
      <span class = "version-info" style="color:#FFFF99;" >Customer</span> &nbsp;
      <span class="example-fill-remaining-space"></span>
    </mat-toolbar-row>
  </mat-card>
  <br>
  <form class="example-form">
    <H2 class="example-full-width">login</H2>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" [(ngModel)]="id"  [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" ng-hide="showpassword" type="password" placeholder="PASSWORD" [(ngModel)]="password"  [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <br>


    <div align="center">
      <br>
      <br>
      <a href="cusorder" class="btn btn-primary">Sign in</a>
      <br>
      <br>
      <br>
    </div>
    <div align="center">
      <p style="text-align: center; color: #0069D9; font-size:12px"><a href="cussignup">สมัครสมาชิก</a></p>
    </div>
  </form>
</mat-card>



</body>
