<div align="center">

  <mat-card  style=";background-color:#BEBEBE;width:100%">





    <br>


    <router-outlet></router-outlet>
    <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
      <mat-button-toggle value="left" style="color:#000000;" ><a routerLink="/login-store">Login</a></mat-button-toggle>
    </mat-button-toggle-group>&nbsp;
    <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
      <mat-button-toggle value="left" style="color:#000000;" ><a routerLink="/status-customer">StatusCustomer</a></mat-button-toggle>
    </mat-button-toggle-group>&nbsp;
    <router-outlet></router-outlet>
    <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
      <mat-button-toggle value="left" style="color:#000000;" ><a routerLink="/checkout">Check Order</a></mat-button-toggle>
    </mat-button-toggle-group>&nbsp;
    <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
      <mat-button-toggle value="left" style="color:#000000;" ><a routerLink="/status-money">Status/Money</a></mat-button-toggle>
    </mat-button-toggle-group>&nbsp;
    <router-outlet></router-outlet>
  </mat-card>
</div>


<br><br>
<table class="table" width="80%">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Order</th>
    <th scope="col">สถานะ</th>
    <th scope="col">ราคา</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>7</th>
    <td>เสร็จแล้ว</td>
    <td>87</td>
  </tr>
  <tr>
    <th>23</th>
    <td>ยังไม่เสร็จ</td>
    <td>145</td>
  </tr>
  <tr>
    <th>37</th>
    <td>ยังไม่เสร็จ</td>
    <td>95</td>
  </tr>
  </tbody>
</table>
<div align="right">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4>รวม</h4>&nbsp;
  <mat-form-field class="example-full-width">
    <input matInput  value="140">
  </mat-form-field>
</div>
