<html>
<body>
<mat-toolbar style="background-color:#330000" class="example-full-width">
  <span style="color:#FFFFFF;">Order received</span>
</mat-toolbar>
<div class="box">
  <table class="table table-dark">
    <thead>
    <tr bgcolor="#d3d3d3" >
      <th  scope="col"><font color="black">Order</font></th>
      <th scope="col"><font color="black">Customer</font></th>
      <th scope="col"><font color="black">Laundry shop</font></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td ><a href="/add-costomer">เอ็ม</a></td>
      <td>ป้าใจดี</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td ><a href="/add-costomer">การบูรณ์</a></td>
      <td>ใต้หอพัก</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td ><a href="/add-costomer">ไอซ์</a></td>
      <td>ป้าใจร้าย</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
