<div align="center">

  <mat-card class="example-card" style="background-color:rgb(238, 168, 147)">





    <br>


    <router-outlet></router-outlet>
    <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:rgb(206, 67, 12)">
      <mat-button-toggle value="left" style="color:#000000;" ><a href="/login-storead">Login</a></mat-button-toggle>
    </mat-button-toggle-group>&nbsp;
    <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:rgb(206, 67, 12)">
      <mat-button-toggle value="left" style="color:#000000;" ><a href="/check-order">check-order</a></mat-button-toggle>
    </mat-button-toggle-group>&nbsp;
    <router-outlet></router-outlet>
    <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:rgb(206, 67, 12)">
      <mat-button-toggle value="left" style="color:#000000;" ><a href="/amount">amount</a></mat-button-toggle>
    </mat-button-toggle-group>&nbsp;
    <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:rgb(206, 67, 12)">
      <mat-button-toggle value="left" style="color:#000000;" ><a href="/total-list">total-list</a></mat-button-toggle>
    </mat-button-toggle-group>&nbsp;





    <router-outlet></router-outlet>
  </mat-card>
</div>


